body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
/*HERO*/
.heroimage {
  z-index: -1;
  margin-top: -90px;
  margin-left: 0px;
  margin-right: 0px;
}
.heroimage img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.herotext {
  top: 40%;
  position: absolute;
}
.herotext h1 {
  font-family: "Segoe UI", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: white;
}
.herotext h1 span {
  color: #ffd23e;
}
#herobutton {
  width: 431px;
  height: 76px;
  background-color: #ffd23e;
  border-style: none;
  border-radius: 9px;
  font-size: 26px;
}
/*HERO*/

/*NAV*/
nav {
  z-index: 9;
  margin-top: 30px;
}
.nav-link {
  color: white;
}
.nav-link:link {
  color: #ffd23e;
}
.nav-link:hover {
  color: #ffda5f;
}
.nav-link:focus {
  color: #ffd23e;
}
/*NAV*/

/*CARD CATEGORY*/
.category .card {
  width: 330px;
  border-style: none;
}

.category {
  margin-top: -70px;
  margin-bottom: 100px;
}
/*CARD CATEGORY*/

/*SALE*/
.saletitle {
  text-align: center;
}
.saletitle p {
  font-weight: 600;
  color: #484848;
}
.carousel-item .card {
  width: 295px;
  height: 295px;
  border-style: none;
}
.carousel-item .card-img-top {
  box-shadow: 0px 4px 5px 0px #00000040;
}
.carousel-item a {
  margin-top: 35px;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.carousel-item a:hover {
  color: #ecb706;
}

.carousel-inner {
  height: 470px;
}

/*SALE*/

/*Brand*/
.brand-container {
  height: 350px;
}
.brand-container img {
  width: 172px;
  border-style: none;
}

/*Brand*/

/*Footer*/
.footer {
  height: 300px;
  background-color: #262626;
  width: 100%;
  color: white;
  padding: 50px 100px 50px 100px;
}

.footer p {
  color: #727272;
}

.footer a img {
  width: 47px;
  margin-left: 40px;
  margin-top: 30px;
}

/*Footer*/

/*copyright*/

.copyright {
  background-color: #262626;
  color: #555555;
  height: 50px;
  width: 100%;
  padding: 0 40px 0 40px;
}

/*copyright*/

.carousel-control-prev-icon {
  margin-left: -90px;
  margin-top: -180px;
  background-image: url("IMG/prev.svg");
  width: 40px;
  height: 40px;
}
.carousel-control-next-icon {
  margin-left: 90px;
  margin-top: -180px;
  background-image: url("IMG/next.svg");
  width: 40px;
  height: 40px;
}

/*BREAKPOINT*/

/*CATEGORIES*/
@media (min-width: 920px) and (max-width: 1200px) {
  .category .card {
    width: 290px;
  }
  .carousel-inner .card {
    width: 200px;
  }
}

@media (max-width: 991px) {
  /*HEADER*/
  .heroimage img {
    background-size: cover;
  }
  .herotext {
    width: 100%;
    text-align: center;
  }
  .herotext h1 {
    font-family: "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: white;
  }
  /*SALE*/
  .carousel-inner .card {
    width: 200px;
  }
  .carousel-control-next-icon {
    right: 48px;
    margin-top: -180px;
    background-image: url(IMG/next.svg);
    width: 40px;
    height: 40px;
    position: absolute;
  }
  .carousel-control-prev-icon {
    right: 48px;
    margin-top: -180px;
    background-image: url(IMG/prev.svg);
    width: 40px;
    height: 40px;
    position: absolute;
  }
  .container .sale {
    width: 100%;
  }
  /*CATEGORIES*/
  .category .card {
    width: 200px;
  }
  /*COPYRIGHT*/
  .copyright {
    font-size: 12px;
  }
}
@media (min-width: 769px) and (max-width: 877px) {
  .carousel-control-next-icon {
    right: 20px;
    margin-top: -180px;
    background-image: url(IMG/next.svg);
    width: 20px;
    height: 20px;
    position: absolute;
  }
  .carousel-control-prev-icon {
    right: 80px;
    margin-top: -180px;
    background-image: url(IMG/prev.svg);
    width: 20px;
    height: 20px;
    position: absolute;
  }
}
@media (max-width: 768px) {
  .brand-container {
    display: none;
  }
  .herotext h1 {
    font-size: 32px;
  }
  .hero {
    width: 100%;
  }
  #herobutton {
    width: 292px;
    height: 58px;
    font-size: 18px;
  }
  .carousel-inner {
    height: 1200px;
    text-align: center;
  }
  .container .sale {
    margin-top: 20px;
  }
  .carousel-item .card {
    margin: auto;
  }
  .carousel-item a {
    margin-top: 25px;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: black;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: none;
  }
  .category .card {
    width: 386px;
    height: 300px;
    margin: auto;
    margin-bottom: 40px;
  }
  .category {
    margin-top: 50px;
    display: inline-block;
  }
  .copyright {
    height: 100px;
  }
}
@media (max-width: 576px) {
  .herotext {
    top: 23%;
    position: absolute;
    right: 0%;
  }
  .carousel-inner {
    width: 400px;
    margin: auto;
    text-align: center;
  }
  .copyright {
    height: 30px;
  }
  footer {
    height: 700px;
    background-color: #262626;
  }
  iframe {
    width: 350px;
  }
}
