body,
html {
  overflow-x: hidden;
  height: auto;
}
::-webkit-scrollbar {
  display: none;
}
/*HERO*/
.heroimage {
  z-index: -1;
  margin-top: -90px;
  margin-left: 0px;
  margin-right: 0px;
}
.heroimage img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.herotext {
  top: 40%;
  position: absolute;
}
.herotext h1 {
  font-family: "Segoe UI", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: white;
}
.herotext h1 span {
  color: #ffd23e;
}
#herobutton {
  width: 431px;
  height: 76px;
  background-color: #ffd23e;
  border-style: none;
  border-radius: 9px;
  font-size: 26px;
}
#herobutton a {
  text-decoration: none;
  color: #000000;
}
#shopbutton-black {
  width: 431px;
  height: 76px;
  color: #ffd23e;
  background-color: #181818;
  border-style: none;
  border-radius: 9px;
  font-size: 26px;
}
#shopbutton {
  width: 431px;
  height: 76px;
  background-color: #ffd23e;
  border-style: none;
  border-radius: 9px;
  font-size: 26px;
  margin-bottom: 20px;
}
#shopbutton a {
  text-decoration: none;
  color: #000000;
}
#shopbutton-black a {
  text-decoration: none;
  color: #ffd23e;
}
/*HERO*/

/*NAV*/
.navbar {
  z-index: 9;
  margin-top: 20px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
.navbar-nav {
  justify-content: center;
  width: 100%;
}
.nav-item {
  color: white;
  margin-right: 20px;
}
.nav-link:link {
  color: #ffd23e;
}
.nav-link:hover {
  color: #ffda5f;
}
.nav-link:focus {
  color: #ffd23e;
}
/*NAV*/

/*CARD CATEGORY*/
.category .card {
  width: 330px;
  border-style: none;
}

.category {
  margin-top: -70px;
  margin-bottom: 100px;
}
/*CARD CATEGORY*/

/*SALE*/
.saletitle {
  text-align: center;
}
.saletitle p {
  font-weight: 600;
  color: #484848;
}
.carousel-item .card {
  width: 295px;
  height: 295px;
  border-style: none;
}
.carousel-item .card-img-top {
  box-shadow: 0px 4px 5px 0px #00000040;
}
.carousel-item a {
  margin-top: 35px;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.carousel-item a:hover {
  color: #ecb706;
}

.carousel-inner {
  height: 470px;
}

/*SALE*/

/*Brand*/
.brand-container {
  height: 350px;
  margin-top: 250px;
}
.brand-container img {
  width: 172px;
  border-style: none;
}

/*Brand*/

/*Footer*/
.footer {
  height: 300px;
  background-color: #262626;
  width: 100%;
  color: white;
  padding: 50px 100px 50px 100px;
}

.footer p {
  color: #727272;
}

.footer a img {
  width: 47px;
  margin-left: 40px;
  margin-top: 30px;
}

/*Footer*/

/*copyright*/

.copyright {
  background-color: #262626;
  color: #555555;
  height: 50px;
  width: 100%;
  padding: 0 40px 0 40px;
}

/*copyright*/

.carousel-control-prev-icon {
  margin-left: -90px;
  margin-top: -180px;
  background-image: url("IMG/prev.svg");
  width: 40px;
  height: 40px;
}
.carousel-control-next-icon {
  margin-left: 90px;
  margin-top: -180px;
  background-image: url("IMG/next.svg");
  width: 40px;
  height: 40px;
}

/*BREADCRUMB*/
.breadcrumb-item a {
  color: #adadad;
  text-decoration: none;
}
#active {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

/*Product pages*/
.imgsmall {
  margin-top: 50px;
  width: 100%;
}
.imgbig {
  width: 100%;
}
.desc-product {
  margin-left: 15px;
}
.title-product {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
}
.price {
  color: #adadad;
  font-weight: 700;
}
#btnmin,
#btnpls {
  border-style: none;
  border-radius: 10px;
  padding: 0 7px 0px 7px;
  color: #000000;
  background-color: white;
  box-shadow: 0px 2px 2px #36363627;
}
#numbernya {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: #c00000;
}
.size {
  margin-top: 20px;
}
.dropdown {
  margin-right: 20px;
}
.btn-group {
  margin-bottom: 20px;
}
#dropdownMenuButton1 {
  color: #181818;
  background-color: white;
}
.container .judul1,
.judul2 {
  margin-top: 90px;
  margin-bottom: 20px;
}
.judul1,
.judul2 {
  font-size: 26px;
  text-decoration: none;
  font-weight: 500;
}
.judul1 a {
  text-decoration: none;
  color: #000000;
}

.judul2 a {
  color: #000000;
  text-decoration: none;
}
.about-product {
  color: #525252;
  text-align: justify;
}
.similar-product {
  margin-top: 100px;
  margin-bottom: 100px;
}
.title-similar-product {
  font-size: 26px;
}
.container-title-similar-product {
  text-align: center;
}
.similar-product .card {
  width: 345px;
  margin-right: 20px;
  border: none;
}
.similar-product .card-text {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  color: #b5bfda;
}
#cartpage {
  height: 100vh;
}
.cart-product {
  border: 1px solid #b7cbff;
  padding: 15px;
  border-radius: 5px;
}
.p-cart {
  text-align: end;
  margin-top: 50px;
}
.orderright {
  display: flex;
  justify-content: end;
}
.orderleft {
}
.order-product {
  border: 1px solid #b7cbff;
  padding: 15px;
  border-radius: 5px;
}
#checkoutbtn {
  margin-top: 20px;
  width: 431px;
  height: 76px;

  background-color: #ffd23e;
  border-style: none;
  border-radius: 9px;
  font-size: 26px;
}
#checkoutbtn a {
  color: #181818;
  text-decoration: none;
}
.delete-section {
  text-align: right;
  margin-top: 10px;
}
.delete-section .trash {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.success-notif {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  width: 50%;
  text-align: center;
}
.success-notif img {
  width: 355px;
  height: 355px;
}
#button-black {
  width: 431px;
  height: 76px;
  background-color: #181818;
  border-style: none;
  border-radius: 9px;
  font-size: 26px;
}
#button-black a {
  text-decoration: none;
  color: #ffd23e;
}
/*=============================================================================================================*/

/*BREAKPOINT*/

/*CATEGORIES*/
@media (min-width: 920px) and (max-width: 1200px) {
  .category .card {
    width: 290px;
  }
  .carousel-inner .card {
    width: 200px;
  }
  .similar-product .card {
    width: 290px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  /*HEADER*/
  .heroimage img {
    background-size: cover;
  }
  .herotext {
    width: 100%;
    text-align: center;
  }
  .herotext h1 {
    font-family: "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: white;
  }
  .desc-product {
    margin-left: 0px;
    margin-top: 20px;
  }

  /*SALE*/
  .carousel-inner .card {
    width: 200px;
  }
  .carousel-control-next-icon {
    right: 48px;
    margin-top: -180px;
    background-image: url(IMG/next.svg);
    width: 40px;
    height: 40px;
    position: absolute;
  }
  .carousel-control-prev-icon {
    right: 48px;
    margin-top: -180px;
    background-image: url(IMG/prev.svg);
    width: 40px;
    height: 40px;
    position: absolute;
  }
  .container .sale {
    width: 100%;
  }
  /*CATEGORIES*/
  .category .card {
    width: 200px;
  }
  /*COPYRIGHT*/
  .copyright {
    font-size: 12px;
  }
  .similar-product .card {
    width: 200px;
    margin-right: 20px;
  }
  #button-black {
    width: 300px;
    height: 56px;
    color: #ffd23e;
    background-color: #181818;
    border-style: none;
    border-radius: 9px;
    font-size: 20px;
  }
}
@media (min-width: 769px) and (max-width: 877px) {
  .carousel-control-next-icon {
    right: 20px;
    margin-top: -180px;
    background-image: url(IMG/next.svg);
    width: 20px;
    height: 20px;
    position: absolute;
  }
  .carousel-control-prev-icon {
    right: 80px;
    margin-top: -180px;
    background-image: url(IMG/prev.svg);
    width: 20px;
    height: 20px;
    position: absolute;
  }
}
@media (max-width: 768px) {
  .brand-container {
    display: none;
  }
  .herotext h1 {
    font-size: 32px;
  }
  .hero {
    width: 100%;
  }
  #herobutton {
    width: 292px;
    height: 58px;
    font-size: 18px;
  }
  .carousel-inner {
    height: 1200px;
    text-align: center;
  }
  .container .sale {
    margin-top: 20px;
  }
  .carousel-item .card {
    margin: auto;
  }
  .carousel-item a {
    margin-top: 25px;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: black;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: none;
  }
  .category .card {
    width: 386px;
    height: 300px;
    margin: auto;
    margin-bottom: 40px;
  }
  .category {
    margin-top: 50px;
    display: inline-block;
  }
  .copyright {
    height: 100px;
  }
  /*Product pages*/
  .imgsmall {
    width: 100%;
  }
  .imgbig {
    width: 100%;
  }
  .similar-product .card {
    width: 300px;
    margin: 0px auto 20px auto;
  }
  .success-notif img {
    width: 295px;
  }
}
@media (max-width: 576px) {
  .navbar {
    margin-top: 0px;
    background-color: #000000;
  }
  .herotext {
    top: 23%;
    position: absolute;
    right: 0%;
  }
  .carousel-inner {
    width: 400px;
    margin: auto;
    text-align: center;
  }
  .copyright {
    height: 30px;
    padding: 3px 0px 3px 0px;
    text-align: center;
  }
  .pcopyright {
    padding: 3px 0px 0px 20px;
  }
  footer {
    height: 700px;
    background-color: #262626;
  }
  iframe {
    width: 350px;
  }
  .judul1,
  .judul2 {
    font-size: 20px;
  }
  .about-product {
    font-size: 12px;
  }
  .success-notif img {
    width: 250px;
  }
  .success-notif p {
    font-size: 14px;
  }
  #button-black {
    width: 200px;
    font-size: 16px;
  }
}
@media (max-width: 440px) {
  .heroimage img {
    background-size: auto;
    background-repeat: no-repeat;
    margin-top: 80px;
  }
  iframe {
    width: 150px;
  }
  .herotext h1 {
    font-size: 28px;
  }
  #herobutton {
    width: 250px;
    height: 48px;
    font-size: 18px;
  }
  .carousel-inner {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .category .card {
    width: 268px;
    height: 200px;
  }
  #shopbutton,
  #shopbutton-black {
    width: 300px;
    height: 65px;
    font-size: 20px;
  }
}
@media (max-width: 330px) {
  .ava {
    width: 35px;
  }
}
@media (max-width: 320px) {
  .herotext {
    margin-top: -10px;
  }
  .herotext h1 {
    font-size: 18px;
  }
  #herobutton {
    width: 130px;
    height: 30px;
    font-size: 10px;
  }
}
